
        .gallery-images {
            display: flex;
            flex-wrap: wrap;
            gap: 20px;
        }
        .gallery-image {
            width: 100%;
            text-align: center;
            max-width: 150px;
            margin-bottom: 20px;
        }
        .gallery-image img {
            border: 1px solid #ccc;
            padding: 5px;
            background: #f9f9f9;
            opacity: 0.7;
            transition: 0.2s ease-in-out;
            box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem gray;
            max-height: 75px;
        }
        .gallery-image img:hover {
            border: 1px solid #ccc;
            padding: 5px;
            background: #f9f9f9;
            opacity: 1;
            box-shadow: 0.1rem 0.1rem 0.1rem 0.1rem black;
        }
        .gallery-image p {
            margin: 5px 0;
        }
        .gallery-image a {
            color: #0073aa;
            text-decoration: none;
        }
        .gallery-image a:hover {
            text-decoration: underline;
        }